name: Deploy Penguin API to the Duplicated Environment by terraform

on:
  push:
    branches: [ "main" ]

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ vars.GCP_WIF_PROVIDER }}
          service_account: ${{ vars.GCP_SA_EMAIL }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Build and Push to Artifact Registry
        id: build
        run: |
          IMAGE="asia-northeast1-docker.pkg.dev/${{ vars.GCP_PROJECT_ID }}/${{ vars.GCP_SERVICE_NAME }}/${{ vars.GCP_SERVICE_NAME }}:${{ github.sha }}"
          gcloud builds submit --tag $IMAGE --quiet .
          echo "IMAGE_PATH=$IMAGE" >> $GITHUB_OUTPUT

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ vars.GCP_SERVICE_NAME }}
          region: 'asia-northeast1'
          image: ${{ steps.build.outputs.IMAGE_PATH }}
          flags: '--allow-unauthenticated'